@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.smooth-scroll {
    text-decoration: none;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('../img/young_driver_crop.jpeg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('../img/truck_snow.jpg');
    min-height: 600px;
}

.pimg3 {
    background-image: url('../img/tesla_truck.jpg');
    min-height: 600px;
}

.pimg4 {
    background-image: url('../img/mountain_truck.jpg');
    min-height: 600px;
}

.section {
    text-align: center;
    padding: 50px 10px;
}

.section-light {
    /* background-color: #f4f4f4; */
    background-color: #fefefe;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align: center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.ptext .border {
    border-width: 0;
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .trans {
    border-width: 0;
    color: #fff;
    padding: 20px;
    background-color: transparent;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

#faqs {
    padding: 1em 0;
}

#faqs div{
    padding: 1em;
}

.glass {
    background-color: rgba(255, 255, 255, .6);
}

.quote {
    margin-top: 5em;
    padding: 10% 10% !important;
    color: #fefefe;
    background-color: rgba(4, 80, 180, 0.9);
}

.quote p {
    font-size: 1.3em;
}

.quote a {
    color: #fefefe;
}

.quote a:hover {
    color: #ddd;
}

.mini-faq a {
    color: #0a0a0a;
}

.mini-faq a:hover {
    color: #4a4a4a;
}


#autobots {
    height: 10px;
    width: 10px;
}

#smokey{
  height: 20em;
  width: 15em;
}

#movie-text{
  text-align: center;

}

.caption-picture {
    display: inline-block;
    position: relative;
}

.caption-text {
  display: inline-block;

  position: relative;
}

.text-content {
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
}

body {
    background: #ccc;
}

.flip:hover .card .face {
    box-shadow: 0 0 10px #9ecaed;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.flip {
    display: inline-block;
    -webkit-perspective: 800;
    perspective: 800;
    width: 22%;
    height: 300px;
    position: relative;
    margin: 10px;
}

.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
    transform: rotatex(-180deg);
}

.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.flip .card .face {
    vertical-align: middle;
    padding: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    text-align: center;
    line-height: 16px;
}

.flip .card .front {
    position: absolute;
    z-index: 1;
    background: #526475;
    color: white;
    cursor: pointer;
}

.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    transform: rotateX(-180deg);
    background: blue;
    background: #afc0ca;
    color: black;
    cursor: pointer;
}

#truth-content {
    padding: 0 70px;
}

.section#truth {
    padding: 50px 10px;
}

.section#faq,
.section#opportunities,
.section#future,
.section#importance {
  padding: 50px 10%;
  text-align: center;
}

.section#faq h2,
.section#opportunities h2,
.section#future h2,
.section#importance h2 {
    text-align: center;
    margin: 2em 0;
}

.section#faq h5 {
    font-size: .9em;
    margin-bottom: .4em;
    margin-top: .8em;
    margin-left: 2em;
}

.section#faq p {
  margin-left: 4em;
}

.accordion {
    color: #0a0a0a
}

.accordion .card h5 {
    text-align: left;
}

.accordion .card-body {
    text-align: left;
}



#career-timeline h1 {
    margin-bottom: 1em;
}

* {
    box-sizing: border-box;
    }

    /* Set a background color */
    body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    }

    /* Container around content */
    .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    }

    /* The circles on the timeline */
    .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: #0563e7;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    }

    /* Place the container to the left */
    .left {
    left: 0;
    }

    /* Place the container to the right */
    .right {
    left: 50%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
    left: -13px;
    }

    /* The actual content */
    .content {
    color: #3a3a3a;
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    }

    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}
.btn-lock {
    width: 200px;
    display: inline-block;
    position: fixed;
    top: 70%;
    right: 0;
}

.rotated {
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform-origin: top right;
}

.formaway {
  display: none;
}
