@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

a {
  color:inherit;
}

.smooth-scroll {
  text-decoration: none;
}

.pimg1, .pimg2, .pimg3, .pimg4 {
  position: relative;
  opacity:0.70;
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;

  background-attachment: fixed;
}

.pimg1{
  background-image:url('../img/truckline1_cropped.png');
  min-height: 100%;
}

.pimg2{
  background-image:url('../img/truck_snow.jpg');
  min-height: 600px;
}

.pimg3{
  background-image:url('../img/tesla_truck.jpg');
  min-height: 600px;
}

.pimg4{
  background-image:url('../img/mountain_truck.jpg');
  min-height: 600px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color: #f4f4f4;
  color:#666;
}

.section-dark{
  background-color: #282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align: center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  background-color: #111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color: transparent;
}

#autobots{
  height: 10px;
  width: 10px;
}

#smokey{
  height: 20em;
  width: 15em;
  padding-right: 10em;
}

#movie-text{
  padding-right: 1em;
}

#home{
  position: absolute;
  z-index: 1000;
}

li{
  display: inline;
}

li a {
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

nav{
  text-align: center;
  border: 4px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 12px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top:0;
  width: 100%;
  opacity: 0.80;
}

.navbar-link{
  letter-spacing: 4px;
}


.text-content{
  padding-left: 10em;
  padding-right: 10em;
}

.nav-div{
  opacity: 70%;
}

label {
    color: #222;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 400px;
    height: 300px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

    .card-text{
      padding-top: 25%;
    }

    .card-text-content-left{
      padding-left: 10em;
    }
    .card-text-content{
      padding-left: 4em;
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}
